<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>车位管理系统</title>
<link rel="stylesheet" type="text/css" href="__STATIC__ /css/index.css" />
<script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<body class="bodybg01">
<div id="content">
  <table width="100%" class="a01">
    <tr>
      <td width="8%" style="text-align:right;">当前位置：</td>
      <td width="3%">首页</td>
      <td width="1%">&gt;</td>
      <td width="6%"><a href="#">临时停车管理</a></td>
      <td width="1%">&gt;</td>
      <td>临时停车信息新增 </td>
    </tr>
  </table>
  <table width="100%" class="a02">
    <tr>
      <td width="5%" style="text-align:right;"><img src="__STATIC__ /images/tubiao.jpg" alt=" " /></td>
      <td width="1%">&nbsp;</td>
      <td width="94%"><strong>临时停车信息新增</strong></td>
    </tr>
  </table>
  <div class="shdlr">
  <form action="{:url('/chewei/svip')}" method="post">
    <table width="100%" class="a03">
	<tr>
        <td style="text-align:right;">门牌号：</td>
        <td>
          <select name="qu" >
            <option value="0">区</option>
            {volist name="res" id="vo"}
            <option value="{$vo.id}">{$vo.name}</option>
            {/volist}
          </select>
          <select name="danyuan" >
            <option value="0">单元</option>
          </select>
          <input type="text" name="menpai" placeholder="填写门牌号">
          <input type="text" name="status" value="0" hidden>
        </td>
        <td style="text-align:right;">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align:right;">电话号码：</td>
        <td><input type="text" name="phone" class="a09" placeholder="请填写正确电话号码"/></td>
        <td style="text-align:right;">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align:right;">车牌号码：</td>
        <td><input type="text" name="chepai" class="a09" value="{$chepai}" readonly/></td>
        <td style="text-align:right;">&nbsp;</td>
      </tr>
    </table>
	
	<table width="100%" style="margin-bottom:20px;">
      <tr>
        <td width="15%">&nbsp;</td>
        <td width="10%"><a><button style="width:166px;height:36px;font-size:20px;background-color:#60A806;color:#fff;border:0px;">添&nbsp&nbsp&nbsp&nbsp加</button></a></td>
        <td width="65%">&nbsp;</td>
      </tr>
    </table>
  </form>
  </div>
</div>
</body>
<script>
 $(function(){
 qu=zhuhu=dianhua=false;
    $('select[name=qu]').change(function(){
      if(($('select[name=qu]').val())!='0'){
        qu=true;
        $.ajax({
          url:"{:url('/vip/danyuan')}",
          type:"get",
          data:{pid:$('select[name=qu]').val()},
          dataType:"json",
          success:function(data){
             $("select[name=danyuan]").children('option').remove()
            for(var i=0;i<data.length;i++){
              var opt=$("<option value='"+data[i]['id']+"'>"+data[i]['name']+"</option>")
              $("select[name=danyuan]").append(opt);
            }
          }  
        }) 
      }else{
        qu=false;
        $("select[name=danyuan]").children('option').remove();
        $("select[name=danyuan]").append("<option >单元</option>");
      }
    })
     //门牌号判断
    $('input[name=menpai]').blur(function(){
      zhuhu=true;
      var pd=/^[0-9]{4}$/;
      if($(this).val().match(pd)==null){
        zhuhu=false;
        $(this).attr('placeholder','请填写正确门牌号');
        $(this).val('');
      }
    })
    //电话号码判断/^1[34578]\d{9}$/
    $('input[name=phone]').blur(function(){
      dianhua=true;
      var phon=/^1[34578]\d{9}$/;
      if($(this).val().match(phon)==null){
        dianhua=false;
        $(this).attr('placeholder','请填写正确电话号码');
        $(this).val('');
      }
    })
    //点击判断提交
    $('button').click(function(e){

      if(qu && zhuhu && dianhua ){
        $('form').submit();
      }else{
        e.preventDefault();
      }
    })
 })
</script>
</html>
